In [1]:
s='PYTHON'

s[-3]

'H'

In [2]:
s='PYTHON'
s[4]

'O'

In [3]:
s[-3:4]

'H'

In [5]:
'Mayank' and 'python'

#if first value is false then output first value or else output second value

'python'

In [8]:
'Mayank' or 'python'

#returns first value if its true or else returns second value

'Mayank'

In [9]:
-1 and 3

3

In [10]:
-1 and -3

-3

In [11]:
'True' or 'something else'

'True'

In [12]:
'True' and 'something else'

'something else'

In [13]:
True and 5

5

In [14]:
False and 5

False

In [15]:
# false values in Python

# 0, 0.0, False, 0 +0j, "",None,[],{},()

#And Operator: If first value is false then return first value else return second value
#or operator : If first value is true then return first value else second value

In [16]:
None or "something else"

'something else'

In [20]:
False and 6

False

In [21]:
None and 6

In [22]:
#COMPOUND ASSIGNMENT OPERATOR
#iDENTITY OPERATOR
#mEMBERSHIP Operator
#precedence of operator
#decison flow

# COMPOUND ASSIGNMENT OPERATOR

In [24]:
a = 10

#a++

# SyntaxError: invalid syntax

In [25]:
a+=1

In [26]:
a

11

In [27]:
#Python works on operator a lot like maths

In [28]:
++a

11

In [29]:
# Pre increment and Post increment is not valid or works in Python

# 10 ---> 5+10 =15

# 15 + (+10) = 25

# 15 + (+(-10))

# - (+15) + (+10) = -5

In [30]:
15 + (+10)

25

In [31]:
15 + (+(-10))

5

In [32]:
- (+15) + (+10)

-5

In [33]:
b = 5

++b

5

In [34]:
--b

5

In [36]:
---b

-5

In [37]:
b+=1 # b = b+1

In [38]:
b

6

In [39]:
b++5

11

In [40]:
b

6

In [42]:
b

6

In [43]:
+-b+-1

-7

# Identity Operator

In [44]:
#is
#is not

In [45]:
#2 purposes:

# IT IS USED TO check if the value is of certain type
# a= 5  type(a) --> Int


# Same memory location

In [47]:
c= 5
type(c) is int

True

In [50]:
type(c) is not str

True

In [52]:
type(c) == int

True

In [53]:
#MEMORY LOCATION

a = 5
b=7

In [54]:
a is b

False

In [55]:
c = 5

a is c

True

In [56]:
id(a)

4485114656

In [57]:
id(c)

4485114656

In [58]:
#when you define a variable python assigns an address to that variable and stores it

In [59]:
a = 5
print(id(a))
a = 8
print(id(a))

4485114656
4485114752

In [61]:
a =5
c =a

id(a)

4485114656

In [62]:
a =8

id(a)

4485114752

In [63]:
id(c)

4485114656

In [64]:
c

5

In [65]:
str1 ="atul"
str2 ="atul"

str1==str2

True

# Membership Operators

In [66]:
#IN
#NOT IN

In [67]:
a=[1,2,3,4,5,6]

3 in a

True

In [70]:
'a' in 'atul'

True

In [71]:
1 in a and 4 in a

True

In [72]:
[1,4] in a

False

In [75]:
1 and 4 in a

# 1 AND True

True

In [77]:
1 or 5 in a

#And Operator: If first value is false then return first value else return second value
#or operator : If first value is true then return first value else second value

1

In [104]:
True and False

False

In [84]:
'atul' and 'a' and 'b' and 'c'

'c'

In [105]:
len('hello')

5

In [106]:
5 > 3 or 2 < 1

True

# Precedence opf Operator

In [73]:
# Bracket of division multiplication addition subtraction

In [74]:
45 + 50/5

55.0

# associativity in Python

In [78]:
# WHEN 2 OR MORE OPERATORS FOLLOWS SAME PRECEDENCE then python follow sassoicativity
#left to right

In [79]:
5 and 6 and 7

7

In [80]:
2**3**2
#assicatiity of exponent operator is right to left

512

In [81]:
2**9

512

In [83]:
250/10/5

#ASSOCIATIVITY IS LEFT TO RIGHT

5.0

In [86]:
#Write a program to take 2 numbers from user and add them

a = int(input("enter first number "))

b = int(input("enter second number "))

print(a+b)

enter first number 6
enter second number 7
13

In [88]:
c = input("enter some number")

print(c)

print(c.split('@'))

a,b,c = c.split('@')

print(a,b,c)

enter some numberatul@sharam@kumar
atul@sharam@kumar
['atul', 'sharam', 'kumar']
atul sharam kumar

In [94]:
#program 2

#1 name in opposite direction
# age as how many years left in turning 100
# marks as out of 100

a = input("enter your name ")

b = int(input("enter your age "))

c = int(input("enter your marks "))

print("rev name", a[::-1])

print("years left from 100", 100-b)

print("marks out of 100", c/100)

enter your name atul
enter your age 32
enter your marks 23
rev name luta
years left from 100 68
marks out of 100 0.23

# format specifier

In [95]:
name = 'atul'

age = 32

print('name is %s and age is %d' %(name,age))

name is atul and age is 32

In [96]:
#%d integer
#%i integer
#%s string
#%f float

In [97]:
num = 5.33335

print('number is %0.3f'%(num))

number is 5.333

# format argument

In [99]:
print('name is {} and age is {}'.format(name,age))

name is atul and age is 32

In [100]:
print('name is {0} and age is {0}'.format(name,age))

name is atul and age is atul

In [102]:
print('name is {name} and age is {age}'.format(name=name,age=age))

name is atul and age is 32

In [103]:
print('name is {a} and age is {b}'.format(a=name,b=age))

name is atul and age is 32